@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

/* BACKGROUND */

.slideShowContainer {
    overflow: hidden;
    
}

.slideShowContainer figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    transition: 2s;
    animation: 30s slider infinite; 
}

.slideShowContainer figure img {
    width: 20%;
    height: 900px;
    object-fit: cover;
    float: left;
      
}

@keyframes slider {
    0% {left: 0;}
    20% {left: 0;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
}

/* HEADER TEXT */

.textContainer {
    position: absolute;
    top: 25%; 
    left: 51%; 
    transform: translate(-49%, -75%);
    font-size: 50px;
    font-weight: 900;
    z-index: 999;
}

.textContainer h1{
    color: #0d65d3;
    font-size: 140px;
    font-weight: 900;
    letter-spacing: 20px;
}

.textContainer h1 span {
    margin-left: -50px;
    color: #ff0080;
}

.textContainer p {
    font-size: 17px;
    margin-top: -190px;
    margin-left: 470px;
}

.textContainer p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.textContainer p a:visited{
    color: #ff0080;
}

/* ERROR MESSAGE */
#errorMsgH1 {
    position: absolute;
    top: 75%;
    left: 53%;
    width: 50%;
    transform: translate(-47%, -25%);
    color: #ff0080;
    font-size: 20px;
    font-weight: 400;
}

/* FORM */

form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    min-width: 59%;
    height: 300px;
}

.inputContainer {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -90%);
    display: flex;
    width: 60%;
}



 /* SEARCHBAR */

#searchInput {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.764);
}  

#searchInput::placeholder {
    text-align: center;
    color: rgb(80, 76, 76);
}

#searchInput:focus, :focus, select:focus {
    outline: none;
}

#searchInput[type="text"], textarea {
    font-size: 14px;
    color: rgb(80, 76, 76);
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.764);
    transition: .5s;
}

#searchInput:hover{
    background-color: white;
}


/* DROPDOWN */

.dropDownContainer {
    display: flex;
    height: 42px;
    margin-left: 2px;
}

#dropDownImgAmount {
    border: none;
    outline: none;
    color: rgb(80, 76, 76);
    background-color: rgba(255, 255, 255, 0.764);
    transition: .5s;
    margin-left: 1px;
    text-align: center;
    font-weight: 400;
}

#dropDownImgAmount:hover {
    background-color: white;
}

#sortImages {
    border: none;
    outline: none;
    color: rgb(80, 76, 76);
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.764);
    transition: .5s;
}

#sortImages:hover {
    background-color: white;
}


/* RADIO OPTIONS */



.radioContainer {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -70%);
    padding: 10px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.radioContainer input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.764);
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px; 
    margin: 5px;
}

.radioContainer input[type="radio"]:checked{
    background-color: white;
}

.radioContainer label {
    color: rgba(255, 255, 255, 0.764);
    transition: .5s;
}

.radioContainer label:hover{
    color: white;
}

.radioImgSize{
    color: #ff0080 !important;
}

/* SEARCH BUTTON */

form button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 40px;
    font-weight: 300;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.5s;
    color: rgb(80, 76, 76);
    background-color: rgba(255, 255, 255, 0.764);
}

form button:hover{
    width: 30%;
    background-color: rgb(255, 255, 255);
    letter-spacing: 4px;
}


/* FLICKR IMAGES */

.grid {
    position: relative;
    bottom: -50px;
    max-width: 1500px;
    margin: 0px auto;
    columns: 6;
    column-gap: 10px;
}

.gridImageBox {
    max-width: 500px;
    margin-bottom: 10px;
    break-inside: avoid;
}

.gridImg{
    width: 100%; 
    object-fit: contain;
}

/* ON TOP ARROW BTN */

#onTopArrow {
    position: sticky;
    width: 30px;
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    left: 51%;
    transform: translate(-49%, 0);
    display: none;
    background-image: url(/images/arrowTop/arrow2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  .show{
    display: inline-block !important;
  }

  .scrollToTop {
    top: 0;
    behavior: "smooth";
  }
  




